$warm-red: #9a0f2e;
$red: #c30f2e;
$medium-red: #b40f2e;
$black: #000000;
$white: #ffffff;
$natural: #eee9e9;
$pink-grey: #d6d4db;
$purple-grey: #846161;
$pink: #f4bcc6;
$gold: #a78e3e;
$light-pink: #EDE2E2;

$colors: (
	'warm-red': #9a0f2e,
	'red': #c30f2e,
	'medium-red': #b40f2e,
	'black': #000000,
	'white': #ffffff,
	'natural': #eee9e9,
	'pink-grey': #d6d4db,
	'purple-grey': #846161,
	'pink': #f4bcc6,
	'gold': #a78e3e,
	'light-pink': #EDE2E2,
);

:global {
	@each $color, $hex in $colors {
		#{$color}: #{$hex};
	}
}
