@use 'breakpoints';

.absolute {
	position: absolute;
}
.relative {
	position: relative;
}
.fixed {
	position: fixed;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.margin-auto {
	margin: auto;
}

.inline {
	display: inline;
}
.block {
	display: block;
}
.inline-block {
	display: inline-block;
}
.flex {
	display: flex;
}

.cursor-pointer {
	cursor: pointer;
}

.cursor-move {
	cursor: move;
}

.cursor-grab {
	cursor: grab;
}

.iframe-popin-content {
	display: none;
}

.dk {
	display: none;

	@include breakpoints.desktop {
		display: block;
	}
}
.mb {
	display: block;

	@include breakpoints.desktop {
		display: none;
	}
}

.zindex--1 {
	z-index: -1;
}
.zindex-0 {
	z-index: 0;
}

.top {
	top: 0;
}
.left {
	left: 0;
}
.right {
	right: 0;
}
.bottom {
	bottom: 0;
}

.fullscreen {
	height: var(--window-height);
	width: 100%;
}
.fullsize {
	height: 100%;
	width: 100%;
}
.fullheight {
	height: var(--window-height);
}
.min-fullheight {
	min-height: var(--window-height);
}

.overflow-hidden {
	overflow: hidden;
}

.layout {
	padding: 0px 24rem;
	margin: auto;
}

.marie-louise {
	max-width: 1600px;
}

.center-v {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

.center-h {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 100%;
}

.center-vh {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

.popin-wrapper {
	display: none;
}

.hide-mobile {
	@include breakpoints.mobile-only {
		display: none !important;
	}
}

.hide-tablet {
	@include breakpoints.tablet-only {
		display: none !important;
	}
}
.hide-desktop {
	@include breakpoints.desktop {
		display: none !important;
	}
}

.dark-overlay {
	&:after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.5);
	}
}

.fit {
	object-fit: cover;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.round {
	border-radius: 50%;
}

.sr-only {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0, 0, 0, 0) !important;
	white-space: nowrap !important;
	border: 0 !important;
}
