@mixin inset-0 {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

@mixin after {
	&:after {
		content: '';
		@content;
	}
}

@mixin before {
	&:before {
		content: '';
		@content;
	}
}

@mixin hover {
	@media (hover: hover) and (pointer: fine) {
		&:hover {
			@content;
		}
	}
}

@mixin notouch {
	@media (hover: hover) and (pointer: fine) {
		@content;
	}
}

@mixin hover-and-class($className) {
	@media (hover: hover) and (pointer: fine) {
		&:hover {
			@content;
		}
	}

	&.#{$className} {
		@content;
	}
}

@mixin flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin aspect-ratio($width, $height) {
	@include before {
		padding-top: $height / $width * 100%;
		display: block;
	}
}

@mixin absolute-full {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}
