* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	user-select: none;
	-webkit-user-select: none;
}

body,
html {
	width: 100%;
	min-height: 100%;
	touch-action: none;
	-webkit-tap-highlight-color: transparent;
}

body {
	-moz-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
	overscroll-behavior: none;
}

a {
	text-decoration: none;
	color: inherit;
	pointer-events: all;
}

button {
	appearance: none;
	-webkit-appearance: none;
	border: none;
	background: none;
	padding: 0;
	color: inherit;
	cursor: pointer;
	pointer-events: all;
}

button:focus {
	outline: none;
}

img {
	user-drag: none;
	-webkit-user-drag: none;
}
